<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>FakePowerOff</string>
		<key>icon</key>
		<string>icon.png</string>
	</dict>
	<key>title</key>
	<string>WontOff</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.reenable</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Re-enable After Reboot</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.nukesos</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Nuke SOS</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>RespringKillall</string>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.fakeon</string>
			<key>key</key>
			<string>Value</string>
			<key>label</key>
			<string>Fake Power On</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
			<key>validValues</key>
			<array>
				<string>None</string>
				<string>RespringSBReload</string>
				<string>RespringKillall</string>
				<!--string>BlackBoot</string>
				<string>WhiteBoot</string-->
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Respring (sbreload)</string>
				<string>Respring (killall)</string>
				<!--string>Black Boot Screen</string>
				<string>White Boot Screen</string-->
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.homeboot</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Fake Boot With Home Button</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.locked</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Locked Fake Power Off</string>
			<key>PostNotification</key>
			<string>moe.saru.homebrew.ios.fakepoweroff.prefchanged</string>
		</dict>

	</array>
</dict>
</plist>
